src/chunks/akt-sverki.pug
.container
    .sverka
        h1 Акт сверки
        .sverka__top
            p взаимных расчетов за период с 01.04.2019 по 18.06.2019
            p между Общество с ограниченной ответственностью «МартиКом»
            p и ООО "КОНТРАГЕНТ"
            p по договору Основной договор

        .sverka__we
            p Мы, нижеподписавшиеся, Общество с ограниченной ответственностью «МартиКом», с одной стороны, и ООО "КОНТРАГЕНТ", с другой стороны, составили настоящий акт сверки в том, что состояние взаимных расчетов по данным учета следующее:
        .sverka__table
            table
                tr
                    th(colspan='4') По данным Общество с ограниченной ответственностью «МартиКом», руб.
                    th(colspan='4') По данным ООО "Контрагент", руб.
                tr
                    td.bold.center Дата
                    td.bold.center Документ
                    td.bold.center Дебет
                    td.bold.center Кредит
                    td.bold.center Дата
                    td.bold.center Документ
                    td.bold.center Дебет
                    td.bold.center Кредит
                tr.small-font
                    td(colspan='2').bold Сальдо начальное
                    td
                    td.bold.text-right 2723,39
                    td(colspan='2').bold Сальдо начальное
                    td.bold.text-right 2723,39
                    td
                tr.small-font.realization
                    td 01.04.19
                    td Платежное поручение входящее № 2223 от 01 04 2019
                    td
                    td 65414,8
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 02.04.2019
                    td Реализация товаров и услуг № В00001444 от 02 04 2019
                    td 21 676,80
                    td
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 16.04.19
                    td Реализация товаров и услуг № В00001445 от 16 04 2019
                    td 8 336,39
                    td
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 06.05.19
                    td Платежное поручение входящее № 296 от 06 05 2019
                    td
                    td 1 990 000,00
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 21.05.19
                    td Реализация товаров и услуг № В00002212 от 21 05 2019
                    td 55 264,10
                    td
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 21.05.19
                    td Реализация товаров и услуг № В00002213 от 21 05 2019
                    td 12 229,33
                    td
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 21.05.19
                    td Реализация товаров и услуг № В00002226 от 21 05 2019
                    td 484,91
                    td
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 21.05.19
                    td Реализация товаров и услуг № В00002228 от 21 05 2019
                    td 65 019,79
                    td
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 28.05.19
                    td Реализация товаров и услуг № В00002300 от 28 05 2019
                    td 119 525,00
                    td
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 28.05.19
                    td Реализация товаров и услуг № В00002141 от 28 05 2019
                    td 9 739,63
                    td
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 28.05.19
                    td Реализация товаров и услуг № В00002398 от 28 05 2019
                    td 138,04
                    td
                    td
                    td
                    td
                    td
                tr.small-font.realization
                    td 28.05.19
                    td Платежное поручение входящее № 348 от 28 05 2019
                    td
                    td 73 557,83
                    td
                    td
                    td
                    td
                tr.realization
                    td(colspan='2').bold Обороты за период
                    td.bold 200813,99
                    td.bold 1210372,63
                    td(colspan='2').bold Обороты за период
                    td.bold
                    td.bold
                tr.realization
                    td(colspan='2').bold Сальдо конечное
                    td.bold
                    td.bold 12282,03
                    td(colspan='2').bold Сальдо конечное
                    td.bold
                    td.bold
        .sverka__subtext
            p По данным Общество с ограниченной ответственностью «МартиКом»
            p
                b на 18.06.2019 задолженность в пользу ООО "КОНТРАГЕНТ" 12 282,03 руб.
        .sverka__ot
            .sverka__ot-item
                p От Общество с ограниченной ответственностью «МартиКом»
                div
                    span _______________________________ ( ____________________ )
                    span.print ________________________ ( ______________ )
                    p.mp М.П.
            .sverka__ot-item
                p От ООО "КОНТРАГЕНТ"
                div
                    span _______________________________ ( ____________________ )
                    span.print ________________________ ( ______________ )
                    p.mp М.П.

dist/akt-sverki.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <div class="page-body" id="page-body">
      <div class="container">
        <div class="sverka">
          <h1>Акт сверки</h1>
          <div class="sverka__top">
            <p>взаимных расчетов за период с 01.04.2019 по 18.06.2019</p>
            <p>между Общество с ограниченной ответственностью «МартиКом»</p>
            <p>и ООО "КОНТРАГЕНТ"</p>
            <p>по договору Основной договор</p>
          </div>
          <div class="sverka__we">
            <p>Мы, нижеподписавшиеся, Общество с ограниченной ответственностью «МартиКом», с одной стороны, и ООО "КОНТРАГЕНТ", с другой стороны, составили настоящий акт сверки в том, что состояние взаимных расчетов по данным учета следующее:</p>
          </div>
          <div class="sverka__table">
            <table>
              <tr>
                <th colspan="4">По данным Общество с ограниченной ответственностью «МартиКом», руб.</th>
                <th colspan="4">По данным ООО "Контрагент", руб.</th>
              </tr>
              <tr>
                <td class="bold center">Дата</td>
                <td class="bold center">Документ</td>
                <td class="bold center">Дебет</td>
                <td class="bold center">Кредит</td>
                <td class="bold center">Дата</td>
                <td class="bold center">Документ</td>
                <td class="bold center">Дебет</td>
                <td class="bold center">Кредит</td>
              </tr>
              <tr class="small-font">
                <td class="bold" colspan="2">Сальдо начальное</td>
                <td></td>
                <td class="bold text-right">2723,39</td>
                <td class="bold" colspan="2">Сальдо начальное</td>
                <td class="bold text-right">2723,39</td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>01.04.19</td>
                <td>Платежное поручение входящее № 2223 от 01 04 2019</td>
                <td></td>
                <td>65414,8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>02.04.2019</td>
                <td>Реализация товаров и услуг № В00001444 от 02 04 2019</td>
                <td>21 676,80</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>16.04.19</td>
                <td>Реализация товаров и услуг № В00001445 от 16 04 2019</td>
                <td>8 336,39</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>06.05.19</td>
                <td>Платежное поручение входящее № 296 от 06 05 2019</td>
                <td></td>
                <td>1 990 000,00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>21.05.19</td>
                <td>Реализация товаров и услуг № В00002212 от 21 05 2019</td>
                <td>55 264,10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>21.05.19</td>
                <td>Реализация товаров и услуг № В00002213 от 21 05 2019</td>
                <td>12 229,33</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>21.05.19</td>
                <td>Реализация товаров и услуг № В00002226 от 21 05 2019</td>
                <td>484,91</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>21.05.19</td>
                <td>Реализация товаров и услуг № В00002228 от 21 05 2019</td>
                <td>65 019,79</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>28.05.19</td>
                <td>Реализация товаров и услуг № В00002300 от 28 05 2019</td>
                <td>119 525,00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>28.05.19</td>
                <td>Реализация товаров и услуг № В00002141 от 28 05 2019</td>
                <td>9 739,63</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>28.05.19</td>
                <td>Реализация товаров и услуг № В00002398 от 28 05 2019</td>
                <td>138,04</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="small-font realization">
                <td>28.05.19</td>
                <td>Платежное поручение входящее № 348 от 28 05 2019</td>
                <td></td>
                <td>73 557,83</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="realization">
                <td class="bold" colspan="2">Обороты за период</td>
                <td class="bold">200813,99</td>
                <td class="bold">1210372,63</td>
                <td class="bold" colspan="2">Обороты за период</td>
                <td class="bold"></td>
                <td class="bold"></td>
              </tr>
              <tr class="realization">
                <td class="bold" colspan="2">Сальдо конечное</td>
                <td class="bold"></td>
                <td class="bold">12282,03</td>
                <td class="bold" colspan="2">Сальдо конечное</td>
                <td class="bold"></td>
                <td class="bold"></td>
              </tr>
            </table>
          </div>
          <div class="sverka__subtext">
            <p>По данным Общество с ограниченной ответственностью «МартиКом»</p>
            <p><b>на 18.06.2019 задолженность в пользу ООО "КОНТРАГЕНТ" 12 282,03 руб.</b></p>
          </div>
          <div class="sverka__ot">
            <div class="sverka__ot-item">
              <p>От Общество с ограниченной ответственностью «МартиКом»</p>
              <div><span>_______________________________ ( ____________________ )</span><span class="print">________________________ ( ______________ )</span>
                <p class="mp">М.П.</p>
              </div>
            </div>
            <div class="sverka__ot-item">
              <p>От ООО "КОНТРАГЕНТ"</p>
              <div><span>_______________________________ ( ____________________ )</span><span class="print">________________________ ( ______________ )</span>
                <p class="mp">М.П.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
