src/chunks/schet.pug
.container
    .schet
        .schet__top
            p Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.
        .schet__table-top
            table
                tr
                    td(colspan="4" rowspan="2" width="48%").bbn БАНК ГПБ (АО) Г. МОСКВА
                    td(width="7%") БИК
                    td.bbn 044525823
                tr
                    td(rowspan="2") Сч. №
                    td.btn.bbn 30101810200000000823
                tr
                    td(colspan="4").btn.small-font Банк получателя
                    td.btn.small-font Корр. счет
                tr
                    td.brn(width="5%") ИНН
                    td.bln 7727716706
                    td.brn(width="5%") КПП
                    td.bln 500345001
                    td(rowspan="3") Сч. №
                    td(rowspan="2").bbn 40702810592000002258
                tr
                    td(colspan="4").bbn Общество с ограниченной ответственностью «МартиКом»
                tr
                    td(colspan="4").btn.small-font Получатель
                    td.btn.small-font Расчетный счет
        h1.schet__title Счет на оплату № МК000016988 от 25 марта 2019 г.
        .schet__rekvizit
            .schet__rekvizit-item
                span Поставщик:
                p Общество с ограниченной ответственностью «МартиКом», ИНН 7727716706, КПП 500345001, 119620, Москва г, Волынская ул, дом № 3, кв.107, тел.: +7 (495) 7851139/41/45, +7 (495) 7851139/41/45
            .schet__rekvizit-item
                span Покупатель:
                p ООО "Альмер-А", ИНН 7724835350, КПП 772401001, 117403, Москва г, Никопольская ул, дом № 6, стр. 2, тел.: +7 (495) 973-60-49
            .schet__rekvizit-item
                span Грузополучатель:
                p ООО "Альмер-А", ИНН 7724835350, КПП 500945001,142000, Московская обл, Домодедово г, Индустриальная (Северный мкр.) ул, дом № 1, стр.1, тел.: +7 (495) 973-60-49
        p.schet__after-rekvizit Товар по счету зарезервирован на 5 дней.
        .schet__tovar
            table
                tbody
                    tr
                        th №
                        th Артикул
                        th Товары (работы, услуги)
                        th Кол-во
                        th Ед.
                        th Цена
                        th Сумма
                    tr
                        td 1
                        td 334HG51 N
                        td 334HG51 N Петля полунакладная для стекла, угол открывания 230°, отделка никель
                        td 20
                        td шт
                        td 917,92
                        td 18 358,4
        .schet__summ
            table
                tbody
                    tr
                        td Итого:
                        td 18 358,40
                    tr
                        td В том числе НДС:
                        td 3 059,73
                    tr
                        td Всего к оплате:
                        td 18 358,4
        .schet__naimenov
            p Всего наименований 1, на сумму 18 358,40 руб
        .schet__cifroy
            p Восемнадцать тысяч триста пятьдесят восемь рублей 40 копеек
        .schet__podpisi
            .schet__podpisi-rukov
                span Руководитель
            .schet__podpisi-gendir
                p Генеральный директор
                span должность
            .schet__podpisi-pole.name.vas-oa
                span подпись
                i
            .schet__podpisi-name
                p Васильева О. А.
                span расшифровка подписи
        .schet__podpisi.last
            .schet__podpisi-rukov
                span Главный (старший) бухгалтер
            .schet__podpisi-gendir
            .schet__podpisi-pole.name.vas-ge
                span подпись
                i
            .schet__podpisi-name
                p Васильева Г. Е.
                span расшифровка подписи
        .vzaimo__pechat
            .vzaimo__pechat-img
                img(src="./img/pechat.png" alt="")
            .vzaimo__pechat-copy
                p Электронно копия
        .schet__bottom-text
            p Обратите внимание, что с 01 января 2019 года в отношении отгружаемых нами товаров (выполненных работ, оказанных услуг), произойдет повышение ставки НДС с 18% до 20% согласно Федеральному закону №303-ФЗ, в связи с чем увеличится окончательная стоимость товаров. При этом существующий порядок формирования цены товара не изменится.
        .schet__bottom-img
            img(src="./img/himki.png" alt="")

dist/schet.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <div class="page-body" id="page-body">
      <div class="container">
        <div class="schet">
          <div class="schet__top">
            <p>Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.</p>
          </div>
          <div class="schet__table-top">
            <table>
              <tr>
                <td class="bbn" colspan="4" rowspan="2" width="48%">БАНК ГПБ (АО) Г. МОСКВА</td>
                <td width="7%">БИК</td>
                <td class="bbn">044525823</td>
              </tr>
              <tr>
                <td rowspan="2">Сч. №</td>
                <td class="btn bbn">30101810200000000823</td>
              </tr>
              <tr>
                <td class="btn small-font" colspan="4">Банк получателя</td>
                <td class="btn small-font">Корр. счет</td>
              </tr>
              <tr>
                <td class="brn" width="5%">ИНН</td>
                <td class="bln">7727716706</td>
                <td class="brn" width="5%">КПП</td>
                <td class="bln">500345001</td>
                <td rowspan="3">Сч. №</td>
                <td class="bbn" rowspan="2">40702810592000002258</td>
              </tr>
              <tr>
                <td class="bbn" colspan="4">Общество с ограниченной ответственностью «МартиКом»</td>
              </tr>
              <tr>
                <td class="btn small-font" colspan="4">Получатель</td>
                <td class="btn small-font">Расчетный счет</td>
              </tr>
            </table>
          </div>
          <h1 class="schet__title">Счет на оплату № МК000016988 от 25 марта 2019 г.</h1>
          <div class="schet__rekvizit">
            <div class="schet__rekvizit-item"><span>Поставщик:</span>
              <p>Общество с ограниченной ответственностью «МартиКом», ИНН 7727716706, КПП 500345001, 119620, Москва г, Волынская ул, дом № 3, кв.107, тел.: +7 (495) 7851139/41/45, +7 (495) 7851139/41/45</p>
            </div>
            <div class="schet__rekvizit-item"><span>Покупатель:</span>
              <p>ООО "Альмер-А", ИНН 7724835350, КПП 772401001, 117403, Москва г, Никопольская ул, дом № 6, стр. 2, тел.: +7 (495) 973-60-49</p>
            </div>
            <div class="schet__rekvizit-item"><span>Грузополучатель:</span>
              <p>ООО "Альмер-А", ИНН 7724835350, КПП 500945001,142000, Московская обл, Домодедово г, Индустриальная (Северный мкр.) ул, дом № 1, стр.1, тел.: +7 (495) 973-60-49</p>
            </div>
          </div>
          <p class="schet__after-rekvizit">Товар по счету зарезервирован на 5 дней.</p>
          <div class="schet__tovar">
            <table>
              <tbody>
                <tr>
                  <th>№</th>
                  <th>Артикул</th>
                  <th>Товары (работы, услуги)</th>
                  <th>Кол-во</th>
                  <th>Ед.</th>
                  <th>Цена</th>
                  <th>Сумма</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>334HG51 N</td>
                  <td>334HG51 N Петля полунакладная для стекла, угол открывания 230°, отделка никель</td>
                  <td>20</td>
                  <td>шт</td>
                  <td>917,92</td>
                  <td>18 358,4</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="schet__summ">
            <table>
              <tbody>
                <tr>
                  <td>Итого:</td>
                  <td>18 358,40</td>
                </tr>
                <tr>
                  <td>В том числе НДС:</td>
                  <td>3 059,73</td>
                </tr>
                <tr>
                  <td>Всего к оплате:</td>
                  <td>18 358,4</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="schet__naimenov">
            <p>Всего наименований 1, на сумму 18 358,40 руб</p>
          </div>
          <div class="schet__cifroy">
            <p>Восемнадцать тысяч триста пятьдесят восемь рублей 40 копеек</p>
          </div>
          <div class="schet__podpisi">
            <div class="schet__podpisi-rukov"><span>Руководитель</span></div>
            <div class="schet__podpisi-gendir">
              <p>Генеральный директор</p><span>должность</span>
            </div>
            <div class="schet__podpisi-pole name vas-oa"><span>подпись</span><i></i></div>
            <div class="schet__podpisi-name">
              <p>Васильева О. А.</p><span>расшифровка подписи</span>
            </div>
          </div>
          <div class="schet__podpisi last">
            <div class="schet__podpisi-rukov"><span>Главный (старший) бухгалтер</span></div>
            <div class="schet__podpisi-gendir"></div>
            <div class="schet__podpisi-pole name vas-ge"><span>подпись</span><i></i></div>
            <div class="schet__podpisi-name">
              <p>Васильева Г. Е.</p><span>расшифровка подписи</span>
            </div>
          </div>
          <div class="vzaimo__pechat">
            <div class="vzaimo__pechat-img"><img src="./img/pechat.png" alt=""></div>
            <div class="vzaimo__pechat-copy">
              <p>Электронно копия</p>
            </div>
          </div>
          <div class="schet__bottom-text">
            <p>Обратите внимание, что с 01 января 2019 года в отношении отгружаемых нами товаров (выполненных работ, оказанных услуг), произойдет повышение ставки НДС с 18% до 20% согласно Федеральному закону №303-ФЗ, в связи с чем увеличится окончательная стоимость товаров. При этом существующий порядок формирования цены товара не изменится.</p>
          </div>
          <div class="schet__bottom-img"><img src="./img/himki.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</html>
