src/chunks/vzaimo.pug
.container
    .sverka.vzaimo
        h2 ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ
        h1 «МартиКом»
        .vzaimo__top
            p ОГРН 1107746312420, ИНН 7727716706, КПП 772901001
            p расчетный счет № 40702810592000002258 в Банке БАНК ГПБ (АО) Г. МОСКВА,
            p корр. счет № 30101810200000000823, БИК 044525823
            p 119620, Москва г, Волынская ул, дом № 3, кв.107
            p тел. +7 (495) 7851139/41/45
        .vzaimo__output
            .vzaimo__output-item
                p Исх. от 05.04.2019
            .vzaimo__output-item
                p Генеральному директору
                p Захаров Андрей Алексеевич
        .vzaimo__zayava
            p Заявление
            p о проведении взаимозачета
            p.text-justify Настоящим уведомляем Вас о том, что в соответствии со ст. 410-412 Гражданского кодекса РФ Ваша задолженность перед нашей компанией по счетам-договорам:
        .vzaimo__table
            table
                tr
                    th Документ
                    th Сумма, руб.
                tr
                    td счет № МК000012607 от 04.03.2019
                    td 5 211,06
            p на общую сумму 5 211,06 руб. прекращается зачетом встречного однородного требования по:
            table
                tr
                    th Документ
                    th Сумма, руб.
                tr
                    td счет № МК000008208 от 12.02.2019
                    td 5 211,06
        .vzaimo__after-table
            p После проведения данного взаимозачета ООО «МартиКом» подтверждает сумму задолженности Захаров Андрей Алексеевич на 05.04.2019г. в сумме 0 руб.:
            p.date Дата уведомления о вручении настоящего заявления адресату – 05.04.2019 г.
        .vzaimo__who
            .vzaimo__who-item
                p Генеральный директор
                span
                p.name.vas-oa Васильева О. А.
                    i
            .vzaimo__who-item
                p Главный бухгалтер
                span
                p.name.vas-ge Васильева Г. Е.
                    i
        .vzaimo__pechat
            .vzaimo__pechat-img
                img(src="./img/pechat.png" alt="")
            .vzaimo__pechat-copy
                p Электронно копия

dist/vzaimo.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <div class="page-body" id="page-body">
      <div class="container">
        <div class="sverka vzaimo">
          <h2>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ</h2>
          <h1>«МартиКом»</h1>
          <div class="vzaimo__top">
            <p>ОГРН 1107746312420, ИНН 7727716706, КПП 772901001</p>
            <p>расчетный счет № 40702810592000002258 в Банке БАНК ГПБ (АО) Г. МОСКВА,</p>
            <p>корр. счет № 30101810200000000823, БИК 044525823</p>
            <p>119620, Москва г, Волынская ул, дом № 3, кв.107</p>
            <p>тел. +7 (495) 7851139/41/45</p>
          </div>
          <div class="vzaimo__output">
            <div class="vzaimo__output-item">
              <p>Исх. от 05.04.2019</p>
            </div>
            <div class="vzaimo__output-item">
              <p>Генеральному директору</p>
              <p>Захаров Андрей Алексеевич</p>
            </div>
          </div>
          <div class="vzaimo__zayava">
            <p>Заявление</p>
            <p>о проведении взаимозачета</p>
            <p class="text-justify">Настоящим уведомляем Вас о том, что в соответствии со ст. 410-412 Гражданского кодекса РФ Ваша задолженность перед нашей компанией по счетам-договорам:</p>
          </div>
          <div class="vzaimo__table">
            <table>
              <tr>
                <th>Документ</th>
                <th>Сумма, руб.</th>
              </tr>
              <tr>
                <td>счет № МК000012607 от 04.03.2019</td>
                <td>5 211,06</td>
              </tr>
            </table>
            <p>на общую сумму 5 211,06 руб. прекращается зачетом встречного однородного требования по:</p>
            <table>
              <tr>
                <th>Документ</th>
                <th>Сумма, руб.</th>
              </tr>
              <tr>
                <td>счет № МК000008208 от 12.02.2019</td>
                <td>5 211,06</td>
              </tr>
            </table>
          </div>
          <div class="vzaimo__after-table">
            <p>После проведения данного взаимозачета ООО «МартиКом» подтверждает сумму задолженности Захаров Андрей Алексеевич на 05.04.2019г. в сумме 0 руб.:</p>
            <p class="date">Дата уведомления о вручении настоящего заявления адресату – 05.04.2019 г.</p>
          </div>
          <div class="vzaimo__who">
            <div class="vzaimo__who-item">
              <p>Генеральный директор</p><span></span>
              <p class="name vas-oa">Васильева О. А.<i></i></p>
            </div>
            <div class="vzaimo__who-item">
              <p>Главный бухгалтер</p><span></span>
              <p class="name vas-ge">Васильева Г. Е.<i></i></p>
            </div>
          </div>
          <div class="vzaimo__pechat">
            <div class="vzaimo__pechat-img"><img src="./img/pechat.png" alt=""></div>
            <div class="vzaimo__pechat-copy">
              <p>Электронно копия</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
